<h1>Wall of Dolphins</h1>

<%= render(partial: "top_list",
           locals: {name: 'Dolphineers', list: @top_froms}) %>

<%= render(partial: "top_list",
           locals: {name: 'Dolphinees', list: @top_tos}) %>

<h3>Recent Dolphins</h3>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>From</th>
      <th>To</th>
    </tr>
  </thead>

  <tbody>
    <% @dolphins.each do |dolphin| %>
      <tr>
        <td><%= dolphin.created_at.in_time_zone('America/Los_Angeles') %></td>
        <td><%= dolphin.from.name %></td>
        <td><%= dolphin.to.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
