<p id="notice"><%= notice %></p>

<p>
  <strong>From:</strong>
  <%= @dolphin.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @dolphin.to %>
</p>

<p>
  <strong>Source:</strong>
  <%= @dolphin.source %>
</p>

<%= link_to 'Edit', edit_dolphin_path(@dolphin) %> |
<%= link_to 'Back', dolphins_path %>
