<!DOCTYPE html>
<html>
<head>
  <title>Dolphin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= display_user(current_user) %>

<%= yield %>

</body>
</html>
